doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title= title
    link(rel='stylesheet', type='text/css', href='/stylesheets/signup.css')
    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/javascripts/signup.js')
    script(type='text/javascript', src='/javascripts/validator.js')
  body
    block content